<html>
    <head>
        <meta charset="UTF-8"/>
        <link href="/public/style.css" rel="stylesheet">
        <script type="text/javascript" src="/build/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link href="/public/bootstrap.min.css" rel="stylesheet">
        <link href="/public/bootstrap-theme.min.css" rel="stylesheet">
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="/build/bootstrap.min.js"></script>

        <script type="text/javascript" src="/build/socket.io.js"></script>
        <script type="text/javascript" src="/build/react.min.js"></script>
        <script type="text/javascript" src="/build/react-dom.min.js"></script>
        <script type="text/javascript" src="/build/browser.min.js"></script>


    </head>
    <body>
        <h3>Activity Monitoring</h3>
        <div id="verticalTab"></div>
        <!--<div id="root"></div>-->
        <!--<div id="chat"></div>-->
    </body>

    <!--<script type="text/babel" src="chat-component.js"></script>-->
    <!--<script type="text/babel" src="helloworld.js"></script>-->
    <script type="text/babel" src="/build/verticaltab.js"></script>
</html>